body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: bisque;
}
h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.centralizar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.divInput {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 420px;
  height: 500px;
  background-color: rgb(252, 249, 233);
  border: 1px solid rgb(160, 160, 160);
  border-radius: 20px;
  margin: 40px;
}
.divInput label {
  display: flex;
  flex-direction: column;
  color: rgb(0, 0, 0);
  margin: 10px;
   
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.listando {
  display: flex;
  
  flex-direction: column;
  align-items: center; 
  width: 100%; 
  overflow-x: hidden;
  margin: 30px; 
}
.divEmailSenha {
  display: flex;
  width: 400px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 2px;
}
.email {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0 20px 0 20px;
}
.senha {
  width: 120px; 
  overflow: hidden;
  text-overflow: ellipsis;
}
.del {
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 12px;
}
.divBtDel {
   display: flex;
  justify-content: flex-end;
}
.l1{
  background-color: rgb(145, 255, 0);
}
.l2{
  background-color: rgba(255, 0, 0, 0.507);
}
